<div role="tabpanel" class="tab-pane config-section" id="telegram">
    <form method="POST" autocomplete="off" class="w-100">
        <div class="form-group">
            <label>
                Enable telegram Notifier
            </label>
            <select class="form-control custom-select" name="telegram_notifier">
                <option value="true" {% if config.get("telegram_notifier") == "true" %}selected{% endif %}>True</option>
                <option value="false" {% if config.get("telegram_notifier") == "false" %}selected{% endif %}>False</option>
            </select>
        </div>
        <div class="form-group">
            <label>
                Bot Token
            </label>
            <input type="text" class="form-control" id="telegram-consumer-key" name="telegram_consumer_key" value="{{ config.get("telegram_bot_token") }}">
        </div>

        <div class="form-group">
            <label>
                Chat ID
            </label>
            <input type="text" class="form-control" id="telegram-consumer-secret" name="telegram_consumer_secret" value="{{ config.get("telegram_chat_id") }}">
        </div>

        <div class="form-group">
            <label>
                Message Thread ID
            </label>
            <input type="text" class="form-control" id="telegram-access-token" name="telegram_access_token" value="{{ config.get("telegram_message_thread_id") }}">
        </div>

        <input type="hidden" value="{{ Session.nonce }}" name="nonce" id="nonce"/>
        <button type="submit" class="btn btn-md btn-primary float-right">Update</button>
    </form>
</div>